.top-navbar {
  position: fixed;
  top: 0;

  width: 100vw;


  z-index: 1;
  display: flex;

}

.navbar-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
}

.navbar-left {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;
}

.navbar-left {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-end;
}

.navbar-item {
  font-family: "Courier New";
  font-size: 16px;

  color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
}

.navbar-title {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 18px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

